<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Literary</string>
	<string>Science Fiction</string>
	<string>Mystery</string>
	<string>Romance</string>
	<string>Fantasy</string>
	<string>Horror</string>
	<string>Crime</string>
	<string>Western</string>
	<string>Young Adult</string>
	<string>Children&apos;s</string>
	<string>General</string>
</array>
</plist>
